@media screen and (max-width: 1400px) {
    /* Header */

    .header-block-title {
        padding-top: 50px;
    }

    .header-nav-menu {
        margin-top: 45px;
    }

    /* Section About Company */

    /* Section Featured Projects */

    .featured-projects-content > * {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: calc(100vw - 100px);
    }

    /* Section About Company */

    .about-company-title {
        padding-left: 115px;
    }

    /* Section Featured Projects */

    .featured-projects-content {
        padding-left: 70px;
    }

    .featured-projects-content > * {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1000px) {
    /* Section About Company */

    .about-company-title {
        padding-left: 95px;
    }

    .about-company-desc {
        padding-left: 15px;
        border-left: 1.5px solid #c5c5c5;
    }

    .about-company-desc h3 {
        margin-bottom: 15px;
    }

    .company-tasks {
        padding: 60px 0 100px 0;
        column-gap: 80px;
    }

    /* Section Featured Projects */

    .featured-projects-content {
        padding-left: 60px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: calc(100vw - 50px);
    }

    /* Header */

    .header-block-title {
        padding: 25px 0 0 25px;
    }

    .header-content {
        height: 70%;
    }

    .header-content-text {
        top: 50px;
        left: 35px;
    }

    .header-text {
        padding-left: 5px;
    }

    /* Section About Company */

    .about-company {
        width: 90%;
        margin: 0 auto;
        padding-top: 30px;
        display: block;
    }

    .about-company-title {
        display: inline-block;
        padding-left: 0;
    }

    .about-company-desc {
        margin-top: 30px;
        padding-left: 15px;
    }

    .company-tasks {
        max-width: 80%;
        padding: 50px 0 90px 0;
        column-gap: 60px;
    }

    /* Section Featured Projects */

    .featured-projects-content {
        padding-left: 50px;
    }

    .company-works-list {
        padding-bottom: 50px;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .container {
        max-width: 100%;
    }

    /* Header */

    .header-block-title {
        padding-left: 20px;
    }

    .header-text {
        padding-left: 3px;
    }

    .header-content {
        height: 80%;
    }

    .header-content-text {
        top: 40px;
        left: 25px;
    }

    .header-nav-menu {
        margin-top: 25px;
        column-gap: 20px;
    }

    /* Section About Company */

    .about-company-desc {
        padding-left: 10px;
    }

    .company-tasks {
        display: block;
        padding: 40px 0 20px 0;
    }

    .company-task {
        max-width: 55%;
        margin: 0 auto;
        column-gap: 0;
    }

    .company-task img,
    .company-task h3 {
        margin-bottom: 10px;
    }

    .company-task p:last-child {
        margin: 10px 0 30px 0;
    }

    /* Section Featured Projects */

    .featured-projects-content {
        padding-left: 30px;
    }

    .company-works-list {
        padding-bottom: 40px;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 320px) {
    .container {
        max-width: 100%;
    }

    /* Header */

    .header-block-title {
        padding: 15px 0 0 25px;
    }

    .header-content-text {
        left: 25px;
    }

    /* Section About Company */

    .about-company-desc {
        margin-top: 20px;
    }

    /* Section Featured Projects */

    .featured-projects-content {
        padding-left: 10px;
    }
}
