@media screen and (max-width: 1400px) {
    /* Header */

    .header-block-title {
        padding-top: 50px;
    }

    .header-nav-menu {
        margin-top: 45px;
    }

    /* Section Featured Projects */

    .featured-projects-content > * {
        margin-bottom: 15px;
    }

    /* Section Services Provided */

    /* Section Our Team */

    /* Section Testimonials */

    /* Section Blogs */
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: calc(100vw - 100px);
    }

    /* Section About Company */

    .about-company-title {
        padding-left: 115px;
    }

    /* Section Featured Projects */

    .featured-projects-content {
        padding-left: 70px;
    }

    .featured-projects-content > * {
        margin-bottom: 10px;
    }

    /* Section Strategic Process */

    /* Section Services Provided */

    .services-provided-title {
        margin: 20px 0 0 40px;
    }

    .services-provided-content-list {
        margin: 125px 130px 55px 0;
        grid-gap: 80px 70px;
    }

    /* Section Our Team */

    .our-team-desc-content {
        max-width: 76%;
    }

    .our-team-content {
        padding: 80px 0 100px 0;
    }

    .our-team-desc h3 {
        margin-bottom: 15px;
    }

    .our-team-desc p {
        margin-bottom: 30px;
    }

    /* Section Testimonials */

    .testimonials-content {
        padding: 55px 0 120px 0;
    }

    .testimonials-text h3 {
        margin-top: 65px;
    }

    /* Section Blogs */

    .blogs-nav-menu-list {
        padding: 50px 0 0 65px;
    }

    /* Section Contact Us */

    /* Footer */

    .footer-left-column-inner {
        padding-top: 95px;
    }
}

@media screen and (max-width: 1000px) {
    /* Section About Company */

    .about-company-title {
        padding-left: 95px;
    }

    .about-company-desc {
        padding-left: 15px;
        border-left: 1.5px solid #c5c5c5;
    }

    .about-company-desc h3 {
        margin-bottom: 15px;
    }

    .company-tasks {
        padding: 60px 0 100px 0;
        column-gap: 80px;
    }

    /* Section Featured Projects */

    .featured-projects-content {
        padding-left: 60px;
    }

    /* Section Strategic Process */

    .strategic-process-desc h3 {
        margin-top: 15px;
    }

    .strategic-process-desc p {
        margin-top: 10px;
    }

    .strategic-process-content {
        padding: 30px 0 55px 0;
    }

    /* Section Services Provided */

    .services-provided-content-list {
        margin: 110px 100px 50px 0;
        grid-gap: 70px 65px;
    }

    /* Section Our Team */

    .our-team-content {
        padding: 60px 0 70px 0;
    }

    .our-team-desc h3 {
        margin-bottom: 10px;
    }

    .our-team-desc p {
        margin-bottom: 20px;
    }

    /* Section Testimonials */

    .testimonials-content {
        padding: 55px 0 105px 0;
    }

    .testimonials-text {
        max-width: 65%;
    }

    .testimonials-text h3 {
        margin: 60px 0 15px 0;
    }

    /* Section Blogs */

    .blogs-inner {
        padding-bottom: 90px;
    }

    .posts-blog-list {
        column-gap: 65px;
    }

    .blogs-nav-menu-list {
        padding: 45px 0 0 55px;
    }

    .posts-blog-list-item h4 {
        margin-top: 15px;
    }

    .posts-blog-list-item p {
        margin-top: 10px;
    }

    /* Section Contact Us */

    .contact-us-content-inner {
        max-width: 75%;
        padding: 50px 0 0 65px;
    }

    .contact-us-info::after {
        margin-top: 30px;
    }

    /* Footer */

    .footer-inner {
        padding-top: 60px;
    }

    .footer-left-column-inner {
        padding-top: 80px;
    }

    .footer-nav-menu {
        margin-top: 50px;
    }

    .footer-messengers {
        padding-bottom: 40px;
    }

    .footer-right-column-title {
        bottom: 100px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: calc(100vw - 50px);
    }

    /* Header */

    .header-block-title {
        padding: 25px 0 0 25px;
    }

    .header-content {
        height: 70%;
    }

    .header-content-text {
        top: 50px;
        left: 35px;
    }

    .header-text {
        padding-left: 5px;
    }

    /* Section About Company */

    .about-company {
        width: 90%;
        margin: 0 auto;
        padding-top: 30px;
        display: block;
    }

    .about-company-title {
        padding-left: 0;
    }

    .about-company-desc {
        margin-top: 30px;
        padding-left: 15px;
    }

    .company-tasks {
        max-width: 80%;
        padding: 50px 0 90px 0;
        column-gap: 60px;
    }

    /* Section Featured Projects */

    .featured-projects-content {
        padding-left: 50px;
    }

    .company-works-list {
        padding-bottom: 40px;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }

    /* Section Services Provided */

    .services-provided-title {
        margin: 20px 0 0 45px;
    }

    .services-provided-content-list {
        margin: 100px 65px 45px 0;
    }

    .section-service h3 {
        margin-bottom: 15px;
    }

    /* Section Our Team */

    .our-team-content {
        padding: 50px 0 65px 0;
        display: block;
    }

    .our-team-title {
        margin: 0 0 30px 0;
    }

    .our-team-desc {
        max-width: 85%;
    }

    .our-team-desc-content {
        max-width: 85%;
    }

    .info-employee h4 {
        margin-top: 15px;
    }

    /* Section Testimonials */

    .testimonials-content {
        padding: 45px 0 90px 0;
    }

    .testimonials-text h3 {
        margin: 45px 0 15px 0;
    }

    .testimonials-employee-info h4 {
        margin-top: 15px;
    }

    .testimonials-employee-info p {
        line-height: 1.5;
    }

    /* Section Blogs */

    .blogs-inner {
        padding-bottom: 75px;
        flex-direction: column;
    }

    .blogs-nav-menu,
    .posts-blog {
        max-width: 100%;
    }

    .blogs-title {
        padding-top: 10px;
    }

    .blogs-nav-menu-list {
        margin: 30px 0 15px 0;
        padding: 0;
        flex-direction: row;
        justify-content: space-between;
        row-gap: 0;
    }

    .posts-blog-list {
        display: flex;
        column-gap: 55px;
    }

    .post-image {
        height: 20vw;
    }

    /* Section Contact Us */

    .contact-us-content-inner {
        max-width: 75%;
        padding: 40px 0 0 25px;
    }

    .contact-us-messengers {
        padding: 0 0 35px 15px;
    }

    /* Footer */

    .footer-inner {
        padding-top: 50px;
    }

    .footer-left-column-inner {
        padding-top: 65px;
    }

    .footer-nav-menu {
        margin-top: 45px;
    }

    .footer-nav-menu-list::after {
        margin-top: 20px;
    }

    .footer-right-column-title {
        bottom: 75px;
        left: 20px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        max-width: 100%;
    }

    /* Header */

    .header-block-title {
        padding-left: 20px;
    }

    .header-text {
        padding-left: 3px;
    }

    .header-content {
        height: 80%;
    }

    .header-content-text {
        top: 40px;
        left: 25px;
    }

    .header-nav-menu {
        margin-top: 25px;
        column-gap: 20px;
    }

    /* Section About Company */

    .about-company-desc {
        padding-left: 10px;
    }

    .company-tasks {
        display: block;
        padding: 40px 0 20px 0;
    }

    .company-task {
        max-width: 55%;
        margin: 0 auto;
        column-gap: 0;
    }

    .company-task img,
    .company-task h3 {
        margin-bottom: 10px;
    }

    .company-task p:last-child {
        margin: 10px 0 30px 0;
    }

    /* Section Featured Projects */

    .featured-projects-content {
        padding-left: 30px;
    }

    .company-works-list {
        padding-bottom: 40px;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    /* Section Strategic Process */

    .strategic-process-content {
        padding: 10px 0 45px 0;
    }

    .strategic-process-list li {
        grid-template-columns: repeat(1, 1fr);
    }

    .strategic-process-list li:first-child .strategic-process-image,
    .strategic-process-list li:last-child .strategic-process-image {
        order: 1;
    }

    .section-list-process {
        padding: 0 15px 25px 15px;
    }

    .section-list-process h4 {
        margin-top: 40px;
    }

    .section-list-process h5 {
        margin-top: 25px;
    }

    /* Section Services Provided */

    .services-provided-title {
        margin-left: 25px;
    }

    .services-provided-content-list {
        max-width: 75%;
        margin: 35px 0 45px 30px;
        float: none;
        grid-gap: 45px 60px;
    }

    .section-service h3 {
        margin-bottom: 10px;
    }

    /* Section Our Team */

    .our-team-title {
        margin: 0 0 25px 0;
    }

    .our-team-title::after {
        height: 1px;
    }

    .our-team-desc {
        max-width: 100%;
    }

    .our-team-desc-content {
        max-width: 100%;
    }

    .info-employee h4 {
        margin-top: 10px;
    }

    /* Section Testimonials */

    .testimonials-content {
        max-width: 90%;
        padding: 45px 0 90px 0;
    }

    .testimonials-title::after {
        height: 1px;
    }

    .testimonials-content-desc {
        max-width: 100%;
        margin-top: 25px;
        justify-content: space-between;
    }

    .testimonials-text h3 {
        margin: 35px 0 15px 0;
    }

    .testimonials-employee-info {
        max-width: 20%;
    }

    .testimonials-employee-image img {
        border-width: 2px;
    }

    .testimonials-employee-info h4 {
        margin-top: 15px;
    }

    /* Section Blogs */

    .blogs-inner {
        padding-bottom: 60px;
    }

    .blogs-title {
        padding-top: 5px;
    }

    .blogs-title::after {
        height: 1px;
    }

    .blogs-nav-menu-list {
        margin-top: 30px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(4, 1fr);
        row-gap: 15px;
    }

    .posts-blog-list {
        display: flex;
        column-gap: 35px;
    }

    .posts-blog-list-item h4 {
        margin-top: 10px;
    }

    .posts-blog-list-item p {
        margin-top: 5px;
    }

    /* Section Contact Us */

    .contact-us-inner {
        display: flex;
        flex-direction: column;
    }

    .contact-us-maps,
    .contact-us-content {
        max-width: 100%;
    }

    .contact-us-content-inner {
        padding-top: 35px;
    }

    .contact-us-title::after {
        height: 1px;
    }

    .contact-us-info-inner {
        max-width: 85%;
        margin-top: 55px;
    }

    .contact-us-maps {
        height: 55vw;
        order: 1;
    }

    .inp-your-name,
    .inp-num-phone,
    .inp-email,
    .inp-your-message {
        padding: 8px;
    }

    .contact-us-messengers {
        padding-bottom: 25px;
    }

    /* Footer */

    .footer-inner {
        flex-direction: column;
    }

    .footer-left-column,
    .footer-right-column {
        max-width: 100%;
    }

    .footer-left-column {
        order: 1;
    }

    .footer-left-column-inner {
        padding-top: 40px;
    }

    .footer-right-column {
        height: 55vw;
    }

    .footer-right-column-title {
        max-width: 84%;
        bottom: 35px;
    }
}

@media screen and (max-width: 320px) {
    .container {
        max-width: 100%;
    }

    /* Header */

    .header-block-title {
        padding: 15px 0 0 25px;
    }

    .header-content-text {
        left: 25px;
    }

    /* Section About Company */

    .about-company-desc {
        margin-top: 20px;
    }

    /* Section Featured Projects */

    .featured-projects-content {
        padding-left: 10px;
    }

    /* Section Strategic Process */

    .section-list-process {
        padding: 0 0 15px 0;
    }

    .section-list-process h4 {
        margin-top: 35px;
    }

    .section-list-process h5 {
        margin-top: 20px;
    }

    /* Section Services Provided */

    .services-provided-title {
        margin-left: 20px;
    }

    .services-provided-content-list {
        max-width: 80%;
        margin: 30px 0 35px 22px;
        grid-gap: 35px 50px;
    }

    /* Section Our Team */

    .our-team-content {
        padding: 30px 0 45px 0;
    }

    /* Section Testimonials */

    .testimonials-content {
        max-width: 90%;
        margin: 0 auto;
        padding: 35px 0 65px 0;
    }

    .testimonials-content-desc {
        margin-top: 0;
        display: block;
    }

    .testimonials-text {
        max-width: 100%;
    }

    .testimonials-text h3 {
        margin: 35px 0 15px 0;
    }

    .testimonials-employee-info {
        max-width: 40%;
        margin: 40px auto 0;
    }

    .testimonials-employee-info p {
        line-height: 1.8;
    }

    /* Section Blogs */

    .blogs-inner {
        padding-bottom: 50px;
    }

    .blogs-title {
        padding-top: 0;
    }

    .blogs-nav-menu-list {
        margin-top: 30px;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }

    .post-image {
        height: 25vw;
    }

    .posts-blog-list-item h3 {
        margin-top: 5px;
    }

    /* Section Contact Us */

    .contact-us-content-inner {
        max-width: 85%;
        padding-top: 30px;
    }

    /* Footer */

    .footer-right-column-title {
        max-width: 80%;
        bottom: 25px;
    }

    .footer-nav-menu {
        margin-top: 35px;
    }

    .footer-messengers {
        padding-bottom: 25px;
    }

    .footer-left-column-inner {
        padding: 35px 0 0 20px;
    }
}
