@import url(./reset.css);
@import url(./fonts.css);

html {
    font-size: 100%;
}

body {
    font-family: 'MyriadPro-Regular';
    font-size: calc((100vw - 20rem) / (120 - 20) * (1 - 0.625) + 0.625rem);
    color: #000;
    background-color: #000;
}

.container {
    max-width: calc(100vw - 200px);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
}

.hide {
    display: none !important;
}

.about-company-title,
.featured-projects-title,
.strategic-process-title,
.services-provided-title,
.our-team-title,
.testimonials-title,
.blogs-title,
.contact-us-title,
.footer-nav-menu {
    display: inline-block;
}

.about-company-title span:first-child span,
.featured-projects-title span,
.strategic-process-title span,
.section-list-process h4 span,
.services-provided-title span,
.our-team-title span,
.testimonials-title span,
.blogs-title span,
.contact-us-title span {
    /* font-size: 50px; */
    font-size: calc((100vw - 20rem) / (120 - 20) * (3.125 - 2.1875) + 2.1875rem);
}

.featured-projects-title,
.strategic-process-title,
.section-list-process h4,
.services-provided-title,
.our-team-title,
.testimonials-title,
.blogs-title,
.contact-us-title {
    font-family: 'MyriadPro-Semibold';
    /* font-size: 30px; */
    font-size: calc((100vw - 20rem) / (120 - 20) * (1.875 - 0.9375) + 0.9375rem);
}

.header-title span,
.header-text span,
.header-content-text h2 span,
.about-company-title span:last-child,
.featured-projects-title span:first-child,
.strategic-process-title span:first-child,
.our-team-title span:first-child,
.testimonials-title span,
.blogs-title span,
.contact-us-title span:first-child,
.footer-left-column-title span,
.footer-right-column-title span {
    color: #ffc600;
}

.about-company-desc p,
.strategic-process-desc p,
.section-list-process p,
.our-team-desc p {
    /* font-size: 14px; */
    font-size: calc((100vw - 20rem) / (120 - 20) * (0.875 - 0.5) + 0.5rem);
    color: #595959;
}

/* Header */

.header {
    height: 100vh;
    position: relative;
}

.header-inner {
    height: 100%;
    position: relative;
    z-index: 1;
}

.header-block-title {
    padding: 115px 0 0 35px;
    color: #fff;
}

.header-title {
    font-family: 'MyriadPro-Bold';
    font-size: calc((100vw - 20rem) / (120 - 20) * (12.5 - 3.125) + 3.125rem);
    line-height: 0.9;
}

.header-text {
    padding-left: 10px;
    /* font-size: 18px; */
    font-size: calc((100vw - 20rem) / (120 - 20) * (1.125 - 0.625) + 0.625rem);
}

.header-content {
    width: 100%;
    height: 63%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.header-content-inner {
    height: 100%;
    position: relative;
}

.header-content-text {
    position: absolute;
    top: 70px;
    left: 45px;
    z-index: 1;
    color: #ffc600;
}

.header-content-text h2 {
    font-family: 'MyriadPro-Bold';
    /* font-size: 60px; */
    font-size: calc((100vw - 20rem) / (120 - 20) * (3.75 - 1.5) + 1.5rem);
    line-height: 0.9;
    color: #fff;
}

.header-nav-menu {
    margin-top: 55px;
    display: flex;
    column-gap: 35px;
    /* font-size: 18px; */
    font-size: calc((100vw - 20rem) / (120 - 20) * (1.125 - 0.75) + 0.75rem);
}

.header-nav-menu li:hover {
    color: #fff;
}

.header-nav-menu li:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ffc600;
}

.header-content-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.header-content-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center 0;
}

.header-main-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.header-main-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center 0;
}

/* Section About Company */

.about-company {
    width: 100%;
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    column-gap: 160px;
}

.about-company-title {
    padding-left: 135px;
    /* display: inline-block; */
    font-family: 'MyriadPro-Semibold';
    /* font-size: 80px; */
    font-size: calc((100vw - 20rem) / (120 - 20) * (5 - 2.1875) + 2.1875rem);
    line-height: 0.8;
}

.about-company-title span:first-child {
    font-family: 'MyriadPro-Regular';
    /* font-size: 30px; */
    font-size: calc((100vw - 20rem) / (120 - 20) * (1.875 - 0.9375) + 0.9375rem);
    color: #717171;
}

.about-company-title::after {
    content: '';
    display: block;
    width: 35%;
    height: 1.5px;
    float: right;
    background-color: #c5c5c5;
}

.about-company-desc {
    padding-left: 20px;
    border-left: 2px solid #c5c5c5;
    text-align: justify;
}

.about-company-desc h3 {
    margin-bottom: 20px;
    font-family: 'MyriadPro-It';
    color: #000;
}

.company-tasks {
    max-width: 73%;
    margin: 0 auto;
    padding: 70px 0 110px 0;
    display: flex;
    column-gap: 90px;
    align-items: center;
}

.company-task {
    text-align: center;
}

.company-task img {
    margin-bottom: 20px;
}

.company-task h3 {
    margin-bottom: 20px;
    /* font-size: 18px; */
    font-size: calc((100vw - 20rem) / (120 - 20) * (1.125 - 0.75) + 0.75rem);
    font-weight: 600;
    color: #000;
}

.company-task p {
    /* font-size: 10px; */
    /*???*/
    font-size: calc((100vw - 20rem) / (120 - 20) * (0.625 - 0.375) + 0.375rem);
    font-family: 'MyriadPro-It';
    color: #000;
}

.company-task p:last-child {
    margin-top: 15px;
}

/* Section Featured Projects */

.featured-projects-content {
    padding-left: 80px;
    font-family: 'MyriadPro-Semibold';
}

.featured-projects-content > * {
    margin-bottom: 20px;
}

.featured-projects-title {
    /* display: inline-block; */
    /* font-size: 30px; */
    line-height: 1;
}

.featured-projects-title::after {
    content: '';
    display: block;
    width: 54%;
    height: 1.5px;
    margin-top: 3px;
    float: right;
    background-color: #c5c5c5;
}

.featured-projects-nav {
    display: flex;
    column-gap: 1.25rem;
    /* font-size: 14px; */
    font-size: calc((100vw - 20rem) / (120 - 20) * (0.875 - 0.5) + 0.5rem);
    text-transform: uppercase;
}

.featured-projects-nav li:hover::after {
    content: '';
    display: block;
    width: 50%;
    height: 1px;
    margin: -1px auto 0;
    background-color: #ffc600;
}

.company-works-list {
    padding-bottom: 60px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2px;
}

.company-works-list li img {
    display: block;
    width: 100%;
    height: 270px;
    max-height: 100%;
    object-fit: cover;
}

/* Section Strategic Process */

/* .strategic-process-title {
    display: inline-block;
} */

.strategic-process-title::after {
    content: '';
    display: block;
    width: 53%;
    height: 1.5px;
    float: right;
    background-color: #c5c5c5;
}

.strategic-process-desc {
    max-width: 88%;
    margin: 0 auto;
}

.strategic-process-desc h3 {
    margin-top: 30px;
    font-family: 'MyriadPro-It';
}

.strategic-process-desc p {
    margin-top: 20px;
}

.strategic-process-content {
    max-width: 81%;
    margin: 0 auto;
    padding: 40px 0 65px 0;
}

.strategic-process-list li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.strategic-process-image img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-list-process {
    padding: 30px 0 45px 35px;
}

.section-list-process h5 {
    margin-top: 40px;
    font-family: 'MyriadPro-It';
}

.section-list-process p {
    margin-top: 20px;
}

/* Section Services Provided */

.services-provided-inner {
    position: relative;
    color: #fff;
}

.services-provided-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.services-provided-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.services-provided-content {
    overflow: auto;
    position: relative;
    z-index: 1;
}

.services-provided-title {
    margin: 25px 0 0 60px;
    /* display: inline-block; */
    line-height: 1;
}

.services-provided-title span:first-child {
    color: #f3a406;
}

.services-provided-title::after {
    content: '';
    display: block;
    width: 50%;
    height: 1.5px;
    float: right;
    background-color: #c5c5c5;
}

.services-provided-content-list {
    max-width: 45%;
    float: right;
    margin: 130px 150px 55px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 90px 75px;
}

.section-service h3 {
    margin-bottom: 20px;
    /* font-size: 18px; */
    font-size: calc((100vw - 20rem) / (120 - 20) * (1.125 - 0.625) + 0.625rem);
}

.section-service p {
    /* font-size: 11px; */
    font-size: calc((100vw - 20rem) / (120 - 20) * (0.6875 - 0.3125) + 0.3125rem);
}

/* Section Our Team */

.our-team-content {
    max-width: 90%;
    margin: 0 auto;
    padding: 90px 0 140px 0;
    display: flex;
    justify-content: space-between;
}

.our-team-title {
    /* display: inline-block; */
    margin-top: 15px;
    line-height: 1;
}

.our-team-title::after {
    content: '';
    width: 55%;
    height: 1.5px;
    display: block;
    float: right;
    background-color: #c5c5c5;
}

.our-team-desc {
    max-width: 72%;
}

.our-team-desc-content {
    max-width: 80%;
}

.our-team-desc h3 {
    margin-bottom: 20px;
    font-family: 'MyriadPro-It';
}

.our-team-desc p {
    margin-bottom: 35px;
}

.info-team-employees {
    display: flex;
    column-gap: 20px;
}

.info-employee {
    text-align: center;
}

.image-employee img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.info-employee h4 {
    margin-top: 20px;
    font-family: 'MyriadPro-Semibold';
}

.info-employee p {
    font-family: 'MyriadPro-It';
}

/* Section Testimonials */

.testimonials-inner {
    color: #fff;
    background-color: #161616;
}

.testimonials-content {
    max-width: 90%;
    /* max-width: 75%; */
    margin: 0 auto;
    padding: 55px 0 135px 0;
    /* padding: 55px 0 135px 50px; */
}

.testimonials-title {
    /* display: inline-block; */
    line-height: 1;
}

.testimonials-title::after {
    content: '';
    display: block;
    width: 48%;
    height: 1.5px;
    float: right;
    background-color: #c5c5c5;
}

.testimonials-content-desc {
    max-width: 95%;
    /* padding-left: 40px; */
    display: flex;
    /* column-gap: 85px; */
    justify-content: space-around;
}

.testimonials-text {
    max-width: 70%;
}

.testimonials-text h3 {
    margin: 75px 0 20px 0;
    font-size: calc((100vw - 20rem) / (120 - 20) * (1 - 0.5625) + 0.5625rem);
    font-family: 'MyriadPro-It';
}

.testimonials-text p {
    /* font-size: 14px; */
    font-size: calc((100vw - 20rem) / (120 - 20) * (0.875 - 0.5) + 0.5rem);
}

.testimonials-employee-info {
    max-width: 15%;
    text-align: center;
}

.testimonials-employee-image {
    border-radius: 50%;
    background-color: #ffa800;
}

.testimonials-employee-image img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border: 3px solid #ffa800;
    border-radius: 50%;
}

.testimonials-employee-info h4 {
    margin-top: 20px;
    font-family: 'MyriadPro-Semibold';
}

.testimonials-employee-info p {
    font-family: 'MyriadPro-It';
}

/* Section Blogs */

.blogs-inner {
    max-width: 90%;
    margin: 0 auto;
    padding: 30px 0 115px 0;
    display: flex;
    column-gap: 115px;
}

.blogs-title {
    padding-top: 30px;
    /* display: inline-block; */
    line-height: 1;
}

.blogs-title::after {
    content: '';
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: #c5c5c5;
}

.blogs-nav-menu {
    max-width: 22%;
}

.blogs-nav-menu-list {
    padding: 50px 0 0 85px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    /* font-size: 18px; */
    font-size: calc((100vw - 20rem) / (120 - 20) * (1.125 - 0.75) + 0.75rem);
}

.blogs-nav-menu-list li:hover {
    color: #ffc600;
}

.posts-blog {
    max-width: 67%;
}

.posts-blog-list {
    display: flex;
    column-gap: 80px;
}

.post-image {
    width: 100%;
    height: 200px;
}

.post-image img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.posts-blog-list-item h3 {
    margin-top: 10px;
    font-size: calc((100vw - 20rem) / (120 - 20) * (1.125 - 0.75) + 0.75rem);
    /* font-size: 18px; */
    color: #ffc600;
}

.posts-blog-list-item h4 {
    margin-top: 20px;
    font-family: 'MyriadPro-Bold';
    /* font-size: 15px; */
    font-size: calc((100vw - 20rem) / (120 - 20) * (0.9375 - 0.5625) + 0.5625rem);
}

.posts-blog-list-item p {
    margin-top: 15px;
    font-family: 'MyriadPro-It';
    /* font-size: 12px; */
    font-size: calc((100vw - 20rem) / (120 - 20) * (0.75 - 0.5) + 0.5rem);
}

/* Section Contact Us */

.contact-us-inner {
    display: flex;
    color: #fff;
}

.contact-us-maps {
    max-width: 42%;
    width: 100%;
}

.contact-us-content {
    max-width: 59%;
    width: 100%;
    background-color: #2046b3;
}

.contact-us-content-inner {
    max-width: 65%;
    padding: 50px 0 0 75px;
}

.contact-us-title {
    /* display: inline-block; */
    line-height: 1;
}

.contact-us-title::after {
    content: '';
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: #c5c5c5;
}

.inp-your-name,
.inp-num-phone,
.inp-email,
.inp-your-message {
    width: 100%;
    padding: 10px;
    border: 1.5px solid #c5c5c5;
}

.inp-num-phone {
    max-width: 38%;
}

.inp-email {
    max-width: 51%;
    float: right;
}

.inp-your-message {
    resize: none;
}

.inp-send {
    min-width: 110px;
    padding: 10px 0;
    font-family: 'MyriadPro-Semibold';
    text-transform: uppercase;
    text-align: center;
    color: #000;
    background-color: #ffc600;
}

.contact-us-form form > * {
    margin-top: 20px;
}

.contact-us-form form > *:not(.inp-send)::-webkit-input-placeholder {
    color: #fff;
}

.contact-us-info::after {
    content: '';
    display: block;
    margin: 40px 0 10px 0;
    width: 100%;
    height: 1.5px;
    background-color: #7386bc;
}

.contact-us-info-inner {
    max-width: 85%;
    margin: 60px 0 0 20px;
}

.contact-us-info-title,
.contact-us-info-item h4 {
    font-family: 'MyriadPro-Semibold';
}

.contact-us-info-title {
    margin-bottom: 10px;
}

.contact-us-info-table {
    display: table;
    border-collapse: separate;
    border-spacing: 0 25px;
}

.contact-us-info-item {
    display: table-row;
}

.contact-us-info-item > * {
    display: table-cell;
}

.contact-us-info-item p {
    padding-left: 25px;
    font-size: 12px;
}

.contact-us-messengers {
    padding: 0 0 35px 20px;
    display: flex;
    column-gap: 5px;
}

/* Footer */

.footer-inner {
    padding: 70px 0 40px 0;
    display: flex;
    color: #fff;
}

.footer-left-column {
    max-width: 30%;
    width: 100%;
    background-color: #161616;
}

.footer-left-column-inner {
    padding: 120px 0 0 25px;
}

.footer-left-column-title {
    font-family: 'MyriadPro-Bold';
    font-size: 60px;
}

.footer-nav-menu {
    /* display: inline-block; */
    margin-top: 60px;
}

.footer-nav-menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    font-family: 'MyriadPro-Semibold';
    text-transform: uppercase;
}

.footer-nav-menu-list::after {
    content: '';
    display: block;
    width: 100%;
    height: 1.5px;
    margin: 25px 0 10px 0;
    background-color: #ffc600;
}

.footer-nav-menu-list li:hover {
    color: #ffc600;
}

.footer-messengers {
    padding-bottom: 45px;
    display: flex;
    column-gap: 5px;
}

.footer-right-column {
    max-width: 71%;
    width: 100%;
    position: relative;
}

.footer-right-column-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer-right-column-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center 0;
}

.footer-right-column-text {
    position: relative;
    z-index: 1;
}

.footer-right-column-title {
    position: absolute;
    bottom: 145px;
    left: 25px;
    font-family: 'MyriadPro-Bold';
    font-size: 100px;
    line-height: 0.8;
}

/* 

font-size: 80px;
font-size: calc((100vw - 20rem) / (120 - 20) * (5 - 2.1875) + 2.1875rem);

font-size: 60px;
font-size: calc((100vw - 20rem) / (120 - 20) * (3.75 - 1.5) + 1.5rem);

font-size: 50px;
font-size: calc((100vw - 20rem) / (120 - 20) * (3.125 - 2.1875) + 2.1875rem);
 
font-size: 30px;
font-size: calc((100vw - 20rem) / (120 - 20) * (1.875 - 0.9375) + 0.9375rem);

font-size: 18px;
font-size: calc((100vw - 20rem) / (120 - 20) * (1.125 - 0.625) + 0.625rem);

font-size: 14px;
font-size: calc((100vw - 20rem) / (120 - 20) * (0.875 - 0.5) + 0.5rem);

font-size: 10px;
font-size: calc((100vw - 20rem) / (120 - 20) * (0.625 - 0.375) + 0.375rem);

*/
