@import url(./reset.css);
@import url(./fonts.css);

html {
    font-size: 100%;
}

body {
    font-family: 'MyriadPro-Regular';
    color: #000;
    background-color: #000;
}

.container {
    max-width: calc(100vw - 200px);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
}

.header-title span,
.header-text span,
.header-content-text h2 span,
.about-company-title span:last-child,
.featured-projects-title span:first-child,
.strategic-process-title span:first-child,
.services-provided-title span:first-child,
.our-team-title span:first-child,
.testimonials-title span {
    color: #ffc600;
}

.about-company-title span:first-child span,
.featured-projects-title span,
.strategic-process-title span,
.section-list-process h4 span,
.services-provided-title span,
.our-team-title span,
.testimonials-title span {
    font-size: 50px;
}

.strategic-process-title,
.section-list-process h4,
.services-provided-title,
.our-team-title,
.testimonials-title {
    font-family: 'MyriadPro-Semibold';
    font-size: 30px;
}

.about-company-desc p,
.strategic-process-desc p,
.section-list-process p,
.our-team-desc p {
    font-size: 14px;
    color: #595959;
}

/* Header */

.header {
    height: 100vh;
    position: relative;
}

.header-inner {
    height: 100%;
    position: relative;
    z-index: 1;
}

.header-block-title {
    padding: 115px 0 0 35px;
    color: #fff;
}

.header-title {
    font-family: 'MyriadPro-Bold';
    font-size: 200px;
    line-height: 0.9;
}

.header-text {
    padding-left: 10px;
    font-size: 18px;
}

.header-content {
    width: 100%;
    height: 61%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.header-content-inner {
    height: 100%;
    position: relative;
}

.header-content-text {
    position: absolute;
    top: 70px;
    left: 45px;
    z-index: 1;
    color: #ffc600;
}

.header-content-text h2 {
    font-family: 'MyriadPro-Bold';
    font-size: 60px;
    line-height: 0.9;
    color: #fff;
}

.header-nav-menu {
    margin-top: 55px;
    display: flex;
    column-gap: 35px;
    font-size: 18px;
}

.header-nav-menu li:hover {
    color: #fff;
}

.header-nav-menu li:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ffc600;
}

.header-content-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.header-content-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center 0;
}

.header-main-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.header-main-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: 0 0;
}

/* Section About Company */

.about-company {
    width: 100%;
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    column-gap: 160px;
}

.about-company-title {
    padding-left: 65px;
    font-family: 'MyriadPro-Semibold';
    font-size: 80px;
    line-height: 0.8;
}

.about-company-title span:first-child {
    font-family: 'MyriadPro-Regular';
    font-size: 30px;
    color: #717171;
}

.about-company-title::after {
    content: '';
    display: block;
    width: 35%;
    height: 1.5px;
    float: right;
    background-color: #c5c5c5;
}

.about-company-desc {
    padding-left: 20px;
    border-left: 2px solid #c5c5c5;
    text-align: justify;
}

.about-company-desc h3 {
    margin-bottom: 20px;
    font-family: 'MyriadPro-It';
    color: #000;
}

.company-tasks {
    max-width: 73%;
    margin: 0 auto;
    padding: 70px 0 110px 0;
    display: flex;
    column-gap: 90px;
    align-items: center;
}

.company-task {
    text-align: center;
}

.company-task img {
    margin-bottom: 20px;
}

.company-task h3 {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

.company-task p {
    font-size: 10px;
    font-family: 'MyriadPro-It';
    color: #000;
}

.company-task p:last-child {
    margin-top: 15px;
}

/* Section Featured Projects */

.featured-projects-content {
    padding-left: 80px;
    font-family: 'MyriadPro-Semibold';
}

.featured-projects-content > * {
    margin-bottom: 20px;
}

.featured-projects-title {
    margin-bottom: 20px;
    display: inline-block;
    font-size: 30px;
}

.featured-projects-title::after {
    content: '';
    display: block;
    width: 54%;
    height: 1.5px;
    margin-top: 3px;
    float: right;
    background-color: #c5c5c5;
}

.featured-projects-nav {
    display: flex;
    column-gap: 1.25rem;
    font-size: 10px;
    text-transform: uppercase;
}

.featured-projects-nav li:hover::after {
    content: '';
    display: block;
    width: 50%;
    height: 1px;
    margin: -1px auto 0;
    background-color: #ffc600;
}

.company-works-list {
    padding-bottom: 60px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2px;
}

.company-works-list li img {
    display: block;
    width: 100%;
    height: 270px;
    max-height: 100%;
    object-fit: cover;
}

/* Section Strategic Process */

.strategic-process-title {
    display: inline-block;
}

.strategic-process-title::after {
    content: '';
    display: block;
    width: 53%;
    height: 1.5px;
    float: right;
    background-color: #c5c5c5;
}

.strategic-process-desc {
    max-width: 88%;
    margin: 0 auto;
}

.strategic-process-desc h3 {
    margin-top: 30px;
    font-family: 'MyriadPro-It';
}

.strategic-process-desc p {
    margin-top: 20px;
}

.strategic-process-content {
    max-width: 81%;
    margin: 0 auto;
    padding: 40px 0 65px 0;
}

.strategic-process-list li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.strategic-process-image img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-list-process {
    padding: 30px 0 45px 35px;
}

.section-list-process h5 {
    margin-top: 40px;
    font-family: 'MyriadPro-It';
}

.section-list-process p {
    margin-top: 20px;
}

/* Section Services Provided */

.services-provided-inner {
    position: relative;
    color: #fff;
}

.services-provided-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.services-provided-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.services-provided-content {
    overflow: auto;
    position: relative;
    z-index: 1;
}

.services-provided-title {
    margin: 40px 0 0 50px;
    display: inline-block;
    line-height: 1;
}

.services-provided-title::after {
    content: '';
    display: block;
    width: 50%;
    height: 1.5px;
    float: right;
    background-color: #c5c5c5;
}

.services-provided-content-list {
    max-width: 45%;
    float: right;
    margin: 130px 180px 55px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 90px 75px;
}

.section-service h3 {
    margin-bottom: 20px;
    font-size: 18px;
}

.section-service p {
    font-size: 11px;
}

/* Section Our Team */

.our-team-content {
    max-width: 90%;
    margin: 0 auto;
    padding: 90px 0 140px 0;
    display: flex;
    justify-content: space-between;
    /* column-gap: 140px; */
}

.our-team-title {
    margin-top: 15px;
    line-height: 1;
}

.our-team-title::after {
    content: '';
    width: 55%;
    height: 1.5px;
    display: block;
    float: right;
    background-color: #c5c5c5;
}

.our-team-desc {
    max-width: 72%;
}

.our-team-desc-content {
    max-width: 80%;
}

.our-team-desc h3 {
    margin-bottom: 20px;
    font-family: 'MyriadPro-It';
}

.our-team-desc p {
    margin-bottom: 35px;
}

.info-team-employees {
    display: flex;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    column-gap: 20px;
}

.info-employee {
    text-align: center;
}

.image-employee img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.info-employee h4 {
    margin-top: 20px;
    font-family: 'MyriadPro-Semibold';
}

.info-employee p {
    font-family: 'MyriadPro-It';
}

/* Section Testimonials */

.testimonials-inner {
    color: #fff;
    background-color: #161616;
}

.testimonials-title {
    padding: 55px 0 0 50px;
    display: inline-block;
    line-height: 1;
}

.testimonials-title::after {
    content: '';
    display: block;
    width: 48%;
    height: 1.5px;
    float: right;
    background-color: #c5c5c5;
}

.testimonials-content {
    max-width: 75%;
    padding: 0 0 135px 95px;
    /* margin-left: 90px; */
    display: flex;
    column-gap: 80px;
}

.testimonials-text {
    max-width: 75%;
}

.testimonials-text h3 {
    margin: 75px 0 20px 0;
    font-family: 'MyriadPro-It';
}

.testimonials-text p {
    font-size: 14px;
}

.testimonials-employee-info {
    max-width: 15%;
    text-align: center;
}

.testimonials-employee-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1.5px solid #ffa800;
    border-radius: 50%;
}

.testimonials-employee-info h4 {
    margin-top: 20px;
    font-family: 'MyriadPro-Semibold';
}

.testimonials-employee-info p {
    font-family: 'MyriadPro-It';
}
